In [1]:
#Pandas: 데이터를 행과 열로 구분해주기 때문에 데이터 처리에 용이함
import pandas as pd

In [10]:
population = pd.Series([9668465, 3391946, 2942828, 1450062])
population

0    9668465
1    3391946
2    2942828
3    1450062
dtype: int64

In [20]:
#인덱스 지정하여 생성하기
population = pd.Series([9668465, 3391946, 2942828, 1450062], index = ['서울', '부산', '인천', '광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [21]:
#series 값 확인
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [22]:
#seires 인덱스 확인
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [23]:
#series의 value 값 타입 확인
population.dtype

dtype('int64')

In [24]:
#Series 자체의 이름 지정
population.name = '인구'
#전체 인덱스의 이름 지정
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [25]:
#series 연산
population / 1000000

도시
서울    9.668465
부산    3.391946
인천    2.942828
광주    1.450062
Name: 인구, dtype: float64

In [26]:
population[1], population['부산']

(3391946, 3391946)

In [27]:
population[3], population['광주']

(1450062, 1450062)

In [32]:
#[[a,b,c]] -> a,b,c차례대로 인덱싱 해줘
population[[0,3,1]]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [33]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [34]:
#Series Boolean 인덱싱
population >= 2500000

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [41]:
population[population >= 2500000]

도시
서울    9668465
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [47]:
population[population >= 3000000]

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

In [49]:
population[(2500000 <= population) & (population <= 5000000)]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [50]:
population[1:3]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [54]:
#문자열로 슬라이싱 해줄 때는 미만과 상관없이 지정해주면 됨
population['부산':'인천']

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [55]:
#Dictionary 객체로 Series 생성
data = {'피카츄' : 9631, '꼬부기' : 3393, '파이리' : 1490, '이상해씨' : 2632}
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [58]:
data2 = {'피카츄' : 9904, '꼬부기' : 3448, '이브이' : 2466, '뮤' : 2890}
pokemon_up = pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [59]:
attack = pokemon_up - pokemon
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [60]:
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [67]:
attack[attack.notnull()]

꼬부기     55.0
피카츄    273.0
dtype: float64

In [73]:
#공격력의 증가율 구하기
rp = (pokemon_up-pokemon) / pokemon * 100
rp

꼬부기     1.620984
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.834597
dtype: float64

In [74]:
rp[rp.notnull()]

꼬부기    1.620984
피카츄    2.834597
dtype: float64

In [75]:
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [76]:
attack['파이리'] = 1616
attack['리자몽'] = 8888
del attack['이상해씨']

In [77]:
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64