### 복습

#### 변수
- 정수형(int)
- 실수형(float)
- 논리형(boolean)
- 문자형(string)

#### 인덱싱과 슬라이싱

#### 인덱싱

In [4]:
"apple"[0]

'a'

In [2]:
["apple", "banana", "egg"][0]

'apple'

In [1]:
["apple", "banana", "egg"][0][0]

'a'

In [6]:
["apple", "banana", ["melon", "watermelon"]][2]

['melon', 'watermelon']

In [9]:
["apple", "banana", ["melon", "watermelon"]][2][1][0]

'w'

In [17]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[1][2][0][3]

'o'

In [21]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[0][1][1]

'r'

#### 슬라이싱

In [24]:
"watermelon"[5:10]

'melon'

In [26]:
# 주의: [왼쪽 이상 : 오른쪽 미만]
"watermelon"[-5:-1]

'melo'

In [23]:
"watermelon"[-5:]

'melon'

In [28]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[1][2][1][0:5]
#fruit[1][2][1][:5]

'water'

### 포맷팅

In [33]:
fruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print("시장에 가면 %s이(가) 있다"%fruit1)
print("시장에 가면 {}이(가) 있다".format(fruit2))
print(f"시장에 가면 {fruit3}이(가) 있다")

시장에 가면 망고이(가) 있다
시장에 가면 파인애플이(가) 있다
시장에 가면 멜론이(가) 있다

In [ ]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
print("There is a %s in the market"%fruit[0])
print("There is a {} in the market".format(fruit[2]))
print(f"There is a {fruit[5]} in the market")

#### 메소드

In [41]:
# count
sentence = "There is a mango in the market"
sentence.count("a")

3

In [42]:
# a가 중복되면 a가 최초로 등장하는 구간 찾아냄
sentence.find("a")

9

In [43]:
#대문자
sentence.upper()

'THERE IS A MANGO IN THE MARKET'

In [44]:
#소문자
sentence.lower()

'there is a mango in the market'

In [45]:
#쪼개기
sentence.split()

['There', 'is', 'a', 'mango', 'in', 'the', 'market']

In [46]:
sentence.split("a")

['There is ', ' m', 'ngo in the m', 'rket']

In [47]:
# 교체
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango", "grape")

'There is a grape in the market'

In [48]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace(fruit[0], fruit[1])

'There is a grape in the market'

In [50]:
# replace를 이용하여 문자열 없애기
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango", "")

'There is a  in the market'

#### 연산자
- +, -, *, /, //, %, **
- 문자 + 문자
- 문자 * 숫자

In [54]:
num = 7
num = num + 7
num

14

In [55]:
num += 7
num

21

In [69]:
a = "안녕"
b = "하세요"
c = 3
d = "3"

print(a + b)
print(a * c)
print(a + d)
print(c + int(d))

안녕하세요
안녕안녕안녕
안녕3
6

### 다음 중 결과 값이 다른 하나는?
1. 5 + 6
2.int(5) + int(6)
3.int(5 + 6)
4.int("5") + int("6")
5.int("5" + "6")

답: 5 
이유: 5번만 56으로 출력됨

#### len

In [171]:
len("ㅎㅎ")

2

In [72]:
# 순서가 있는 자료형의 len은 그 자료형의 인덱스의 개수를 의미한다.
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
len(fruit)

6

In [73]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
len(fruit[0])

5

#### 논리형(true, false)
- ==, !=, <=, >=, <, >
- and, or

#### 조건문: if(블록을 생성함 - :을 사용함으로써 다음 줄에 들여쓰기로 표시됨- 종속됨을 나타내는 표시)
if 명제가 참이라면:

    명제가 참일때 실행하는 코드

else:

    명제가 거짓일 때 실행하는 코드
    
*추가: pass사용시 뒷가정은 패스하라는 뜻

In [74]:
#숫자가 짝수라면: if sutja % 2 == 0
sutja = 3
if sutja % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

#### in
왼 in 오: 왼쪽이 오른쪽에 포함되는가?

In [75]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
"mango" in fruit

True

In [77]:
"m" in "mango"

True

In [78]:
"man" in "mango"

True

In [79]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
["mango", "grape"] in fruit

False

In [83]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
"mango" in fruit and "grape" in fruit

True

In [86]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
("mango" in fruit) or ("grape" in fruit)

True

In [87]:
# 파이썬이 중의적 표현으로 인식하기 때문에 사용하지 않는다. 해결법&권장사항: ()로 묶어준다
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
"mango" or "grape" in fruit

'mango'

In [85]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
("mango" or "grape") in fruit

True

#### tell me노래 가사를 보고 가사에 제목이 포함되는지 확인하고 만약 가사에 제목이 포함된다면 그 부분을 삭제하기
- 제목: tell me
- lyrics = """
   가사
  """
- 실행 후 lyrics 호출
- 변수에 lyrics 대입
- \n: 줄바꿈

In [167]:
lyrics = """
너도 날 좋아할 줄은 몰랐어
어쩌면 좋아 너무나 좋아
꿈만 같아서 나
내 자신을 자꾸 꼬집어 봐 너무나 좋아
니가 날 혹시 안 좋아할까봐
혼자 얼마나 애 태운지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
어쩜 내 가슴이 이렇게 뛰니
가슴이 정말 터질 것 같아
니가 날 볼 때면
전기에 감전된 사람처럼 전기가 올라
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니 어머나
다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Slave to the moon, slave to the moon (I know you got)
Slave to the moon, slave to the moon (I know you)
Tell me tell me tell me you
Want me want me want me, too
Tell me tell me tell me you
Love me too, love me too
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
Tell tell tell tell tell tell me
Tell me (tell me)
"""

In [168]:
lyrics

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나\n다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\nSlave to the moon, slave to the moon (I know you got)\nSlave to the moon, slave to the moon (I know you)\nTell me tell me tell me you\nWant me want me want me, too\nTell me tell me tell me you\nLove me too, love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\nTell tell tell tell tell tell me\nTell me (tell me)\n'

In [128]:
lyrics = lyrics.replace("\n", " ")
lyrics

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you) @@@@@@ @@@@@@ @@@@@@ you want me want me want me, too @@@@@@ @@@@@@ @@@@@@ you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ tell tell tell tell tell @@@@@@ @@@@@@ (@@@@@@)'

In [129]:
#가리는 경우: 마스킹
#tell me -> @@@@@@
lyrics = lyrics.lower()
lyrics = lyrics.replace("tell me", "@@@@@@")
lyrics

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you) @@@@@@ @@@@@@ @@@@@@ you want me want me want me, too @@@@@@ @@@@@@ @@@@@@ you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ 꿈이 아니라고 말해, 말해줘요 @@@@@@ @@@@@@ tell tell tell tell tell @@@@@@ tell tell tell tell tell @@@@@@ @@@@@@ (@@@@@@)'

In [130]:
lyrics =lytics.replace("  ", " ")
lyrics

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나\n다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\nSlave to the moon, slave to the moon (I know you got)\nSlave to the moon, slave to the moon (I know you)\nTell me tell me tell me you\nWant me want me want me, too\nTell me tell me tell me you\nLove me too, love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\nTell me tell me\nTell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\nTell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\nTell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요\nTell me tell me\nTell tell tell tell tell tell me\nTell tell tell tell tell tell me\nTell me (tell me)'

In [ ]:
lyrics.strip()

In [ ]:
lyrics[1:-1]

In [170]:
# 권장사항: (tell me in a) or (Tell me in a)
a = lyrics

if ("tell me") or ("Tell me") in a:
    print("가사에 제목이 존재합니다.")
    
else:
    print("가사에 제목이 존재하지 않습니다.")
    
#a=a.lower()
#a=a.replace("tell me", "")
a = a.replace("tell me", "")
a = a.replace("Tell me", "")

a

가사에 제목이 존재합니다.

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n \nTell tell tell tell tell \n나를 사랑한다고 날 기다려 왔다고\n \nTell tell tell tell tell \n내가 필요하다 말해, 말해줘요\n \nTell tell tell tell tell \n자꾸만 듣고 싶어 계속 내게 말해줘\n \nTell tell tell tell tell \n꿈이 아니라고 말해, 말해줘요\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나\n다시 한 번 말해봐\n \nTell tell tell tell tell \n나를 사랑한다고 날 기다려 왔다고\n \nTell tell tell tell tell \n내가 필요하다 말해, 말해줘요\n \nTell tell tell tell tell \n자꾸만 듣고 싶어 계속 내게 말해줘\n \nTell tell tell tell tell \n꿈이 아니라고 말해, 말해줘요\nSlave to the moon, slave to the moon (I know you got)\nSlave to the moon, slave to the moon (I know you)\n   you\nWant me want me want me, too\n   you\nLove me too, love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n \nTell tell tell tell tell \n나를 사랑한다고 날 기다려 왔다고\n \nTell tell tell tell tell \n내가 필요하다 말해, 말해줘요\n \nTell tell tell tell tell \n자꾸만 듣고 싶어 계속 내게 말해줘\n \nTell tell tell tell tell \n꿈이 아니라고 말해, 말해줘요\n \nTell tell tell tell tell \nTell tell tell tell tell \n ()\n'

#### 리스트, 튜플
- 리스트는 조작이 가능하지만 튜플은 조작 불가능
- 조작이란 순서를 바꾸거나 제거하거나 추가하는 것

#### 데이터 추가
- 문자열: 덧셈 연산 후 할당 해야함
- 리스트: .append(): 리스트 끝에 추가  
         .insert(): 내가 원하는 위치에 추가
         
         메소드 사용 후 할당 안해도 됨

In [134]:
menu = "짜장면, 짬뽕, 탕수육"

In [135]:
#군만두를 추가하고 싶다.
menu = menu + ", 군만두"
menu

'짜장면, 짬뽕, 탕수육, 군만두'

In [137]:
menu = ["짜장면", "짬뽕", "탕수육"]
menu.append("군만두")
menu

['짜장면', '짬뽕', '탕수육', '군만두']

In [139]:
menu.insert(1,"팔보채")
menu

['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']

#### 데이터 제거
- 문자열: .replace()
- 리스트: del + 해당인덱스, .remove(지정), .pop(): 가장 끝 제거

In [149]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace(", 군만두", "")
menu

'짜장면, 짬뽕, 탕수육'

In [151]:
menu = ["짜장면", "팔보채", "짬뽕", "탕수육", "군만두"]
del menu[4]
menu

['짜장면', '팔보채', '짬뽕', '탕수육']

In [152]:
menu.remove("팔보채")
menu

['짜장면', '짬뽕', '탕수육']

In [153]:
menu.pop()
menu

['짜장면', '짬뽕']

#### 데이터 교체
- 문자열: .replace()
- 리스트: 딱히 함수 없음 따라서 인덱스 사용하여 새롭게 할당하는 방법 사용

In [155]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace("군만두", "팔보채")
menu

'짜장면, 짬뽕, 탕수육, 팔보채'

In [157]:
menu = ["짜장면", "팔보채", "짬뽕", "탕수육", "군만두"]
menu[1] = "유산슬"
menu

['짜장면', '유산슬', '짬뽕', '탕수육', '군만두']

- fruit의 "apple"을 "pineapple"로 바꾸어라

In [158]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]

In [163]:
fruit[1][0] = "pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

#### 반복문(for,-반복횟수를 알때 사용 while-반복 횟수를 모르기 때문에 break 필요함)

while 명제:

     명제가 참인 한 실행되는 코드
     break
     
- 무한루프를 피하는 법
1. 특정 조건에서 while문에 걸려 있는 명제가 거짓이 되도록 설계한다.
2. break를 사용한다.
     
for 명제:

In [172]:
n = 0 
while n < 3:
    print(n)
    n = n + 1

0
1
2

In [175]:
n = 0 
while True:
    print(n)
    n = n + 1
    if n >= 3:
        break 
    else:
        pass

0
1
2

#### 1000이 넘는 최초의 43의 배수를 찾고 싶습니다.

In [184]:
n = 0
while True:
    n = n + 1
    if n >= 1000:
        if n%43==0:
            print(n)
            break
        else:
            pass

1032

In [186]:
n = 1000
while n%43 != 0:
    n = n + 1
print(n)

1032

In [187]:
n = 0
while n * 43 <1000:
    n = n + 1
print(n*43)

1032

In [188]:
n = 1000
while True:
    n = n + 1
    if n % 43 == 0:
        print(n)
        break
    else:
        pass

1032

In [189]:
n = 0
while True:
    n = n + 1
    if n *43 >= 1000:
        print(43 * n)
        break
    else:
        pass

1032

#### 10000이 넘는 수 중에서 가장 작은 43과 67의 공배수를 구해주세요
- 43과 67의 공배수란, 43과 67을 모두 약수로 가지고 있는 수

In [3]:
n = 10000
while True:
    n = n + 1
    if n%43==0 and n%67==0:
        print(n)
        break
    else:
        pass

11524

In [7]:
n = 10000
while (n % 43 != 0) or (n % 67 != 0):
    n=n+1
print(n)

11524

- for문

for 변수 in 순서가 있는 자료형:

    코드

In [8]:
for i in [1, 2, 3, 4]:
    print(i**2)

1
4
9
16

#### 구구단 3단을 출력하시오

In [12]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(f"3 x {i} =",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

#### range(n): 0~n미만의 범위의 리스트 출력 
- 이때 n은 len의 값? 반복되는 횟수과 같음
- range(n,m): n이상 m미만

In [59]:
a = range(1,10)[2]
a

3

In [ ]:
for i in range(10):
    print(f"3 x {i} =",3*i)

In [16]:
n=0
while n<9:
    print("Hello Python")
    n=n+1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [17]:
for i in range(9):
    print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [40]:
n=0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]

for i in range(7):   
    if a[i] == b[i]:
        n=n+1
    else:
        pass
print(n)

3

In [25]:
# range(len(a))
n=0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]
for i in range(len(a)):
    if a[i] == b[i]:
        n=n+1
    else:
        pass
print(n)

3

In [33]:
#enumerate
n=0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]
for w, i in enumerate(a):
    if a[w] == b[w]:
        n=n+1
    else:
        pass
print(n)

3

In [30]:
n = 0
a = ["가", "나", "다", "라", "마", "바", "사"]
b = ["나", "라", "다", "바", "마", "가", "사"]
for w,i in enumerate(a):
    if a[w] == b[w]:
        n = n + 1
    else:
        pass
n

3

In [31]:
n = 0
a = ["가", "나", "다", "라", "마", "바", "사"]
b = ["나", "라", "다", "바", "마", "가", "사"]
for w,i in enumerate(a):
    if i == b[w]:
        n = n + 1
    else:
        pass
n

3

#### 구구단
- 구구단 1단부터 9단까지 출력하세요
- 형식은 1 x 1 = 1

In [45]:
for i in range(1,10):
    print(f"-------{i}단 시작!--------\n")
    for j in range(1,10):
        x = i*j
        print(f"{i} x {j} = {x}\n")

-------1단 시작!--------

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

-------2단 시작!--------

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

-------3단 시작!--------

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

-------4단 시작!--------

4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

-------5단 시작!--------

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

-------6단 시작!--------

6 x 1 = 6

6 x 2 = 12

6 x 3 = 18

6 x 4 = 24

6 x 5 = 30

6 x 6 = 36

6 x 7 = 42

6 x 8 = 48

6 x 9 = 54

-------7단 시작!--------

7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

-------8단 시작!--------

8 x 1 = 8

8 x 2 = 16

8 x 3 = 24

8 x 4 = 32

8 x 5 = 40

8 x 6 = 48

8 x 7 = 56

8 x 8 = 64

8 x 9 = 72

-------9단 시작!--------

9 x 1 = 9

9 x 2 = 18

9 x 3 = 27

9 x 4 = 36

9 x 5 = 45

9 x 6 = 54

9 x 7 = 63

9 x 8 = 72

9 x 9 = 81

#### try, except

In [48]:
for i in range(10):
    print(1/(7-i))

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0

ZeroDivisionError: division by zero

try:
    에러가 날 수도 있는 코드가 에러가 나지 않을 경우에 실행될 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행될 코드

In [51]:
# 7/7인 경우 반드시 에러가 나는 경우임
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print("에러가 났습니다.")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러가 났습니다.
-1.0
-0.5

#### raise Exception

In [55]:
a = int(input("3의 배수를 입력하세요: "))
if a % 3 != 0:
    raise Exception("Value Error")
else:
    print(a)

3의 배수를 입력하세요: 2

Exception: Value Error

#### dict, 딕셔너리 {"key":"value"}

In [6]:
# gg = [["사과", "800원"], ["바나나", "1000원"], ["포도", [8000원]] 

gg ={"사과":800, "바나나":1000, "포도":800}
gg["사과"]

800

In [17]:
#추가하기
gg["파인애플"]=1200
gg

{'사과': 800, '바나나': 1000, '포도': 800, '파인애플': 1200}

In [18]:
#삭제하기
del gg["파인애플"]
gg

{'사과': 800, '바나나': 1000, '포도': 800}

In [7]:
#딕셔너리의 for문은 key를 중심으로 실행 -> 즉 i 값에 키값이 들어감
for i in gg:
    print(i)

사과
바나나
포도

In [20]:
gg.keys()

dict_keys(['사과', '바나나', '포도'])

In [21]:
gg.values()

dict_values([800, 1000, 800])

In [22]:
gg

{'사과': 800, '바나나': 1000, '포도': 800}

In [37]:
for i in gg:
    gg[i]
    print(gg[i])

800
1000
800

In [47]:
#물가가 10%올랐을 때의 가격으로 변환하시오
for i in gg:
    gg[i]=int(gg[i]*1.1)
gg

{'사과': 880, '바나나': 1100, '포도': 880}

In [46]:
for i in gg:
    m=gg[i]+gg[i]*0.1
    print(int(m))

880
1100
880

In [8]:
ggg={"서울점":{"사과":800, "바나나":1000, "포도":800},
     "부산점":{"사과":700, "바나나":900, "포도":900},
     "대구점":{"사과":750, "바나나":800, "포도":1000}}
ggg

{'서울점': {'사과': 800, '바나나': 1000, '포도': 800},
 '부산점': {'사과': 700, '바나나': 900, '포도': 900},
 '대구점': {'사과': 750, '바나나': 800, '포도': 1000}}

In [4]:
ggg["서울점"]["사과"]

800

- 전국 사과 가격의 평균을 구해주세요

In [9]:
# len(ggg): ggg의 인덱스의 수 -> 서울점, 부산점, 대구점 -> 즉, key의 개수
n=0
for i in ggg:
    n=n+ggg[i]["사과"]
print(n/len(ggg))

750.0

In [10]:
n=0
for i in ggg:
    n=n+ggg[i]["사과"]
print(n/len(ggg.keys()))

750.0

#### define, def: 함수를 정의한다 -> 함수를 만듦

def 만들고 싶은 함수명():

       만든 함수를 발견했을 때 실행시킬 코드

In [13]:
#덧셈을 실행시키는 add함수를 만들어라
def add(x, y):
    return x + y

In [14]:
add(2, 3)

5

#### 오일러 문제 def 이용하여 해결하기

In [15]:
def jegop(x, y):
    a=0
    b=0
    for i in range(x, y+1):
        a = a + i
        b = b + i**2
    return a**2 - b

In [16]:
jegop(1,100)

25164150

#### 모듈