- dict={"key":"value"}

- dict={"name":"yeji"}

- key는 조작 불가능 value는 조작 가능

In [7]:
csb = {"이름":"홍길동", "나이":20, "키":168}
print(csb)
type(csb)

{'이름': '홍길동', '나이': 20, '키': 168}

dict

In [54]:
class1_4 = {"이름":["홍길동", "김철수", "최영희"], "나이":[20,21,22], "키":[168, 177, 204]}
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [10]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [47]:
#추가하기
class1_4["발 사이즈"] = [290, 275, 240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [48]:
#삭제
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [16]:
# dict와 관련된 메소드
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [20]:
# dict와 관련된 메소드
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [19]:
# i가 key를 대체함
for i in class1_4:
    print(i)

이름
나이
키

In [21]:
"이름" in class1_4

True

In [22]:
"홍길동" in class1_4

False

#### class1_4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하세요.
- 홍길동 -> 길동
- 김철수 -> 철수
- 김영희 -> 영희

In [49]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [50]:
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [52]:
# 교체
class1_4["이름"]=["길동", "철수", "영희"]
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [55]:
#교체할 것이 많을 때 사용하는 방법
new_name = []
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [56]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
#몰라도 되는 방법이긴 함 밑에랑 세트
for i in range(10):
    i=i**2
    print(i)

0
1
4
9
16
25
36
49
64
81

In [58]:
# 위 코드 짧게 쓰기
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [117]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
- scores에 학생들의 수학, 영어, 국어 평균 성적을 기록한 "성적" key를 추가해주세요.

In [118]:
math = 0
eng = 0
kor = 0

for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]

scores["평균점수"]={"수학": math/len(scores), "영어": eng/len(scores), "국어": kor/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균점수': {'수학': 73.66666666666667,
  '영어': 56.666666666666664,
  '국어': 67.66666666666667}}

In [128]:
# 반올림

dirty = 73.66666666
round(dirty)

74

In [124]:
#반올림
round(dirty, 2)

73.67

In [129]:
import math

In [130]:
math.floor(dirty)

73

In [131]:
#반올림
math.ceil(dirty)

74

In [116]:
# 이 코드의 결과 값의 len = 3, 3명이기때문에
#len은 인덱스의 개수
for i in scores:
    print(i)

홍길동
김미정
정수진

In [122]:
#len
len("한글나라")

4

In [121]:
#len
len(["apple", "banana", "egg", "carrot"])

4

In [115]:
math=0
for i in scores:
    math = math + scores[i]["수학"]
math

221

In [87]:
for i in scores:
    print(scores[i])

{'수학': 99, '영어': 80, '국어': 75}
{'영어': 67, '국어': 87, '수학': 55}
{'수학': 67, '국어': 41, '영어': 23}

In [109]:
m1 = scores['홍길동']['수학']
m2 = scores['김미정']['수학']
m3 = scores['정수진']['수학']
e1 = scores['홍길동']['영어']
e2 = scores['김미정']['영어']
e3 = scores['정수진']['영어']
k1 = scores['홍길동']['국어']
k2 = scores['김미정']['국어']
k3 = scores['정수진']['국어']

am = (m1+m2+m3)/3
ae = (e1+e2+e3)/3
ak = (k1+k2+k3)/3

scores["평균점수"] = {'수학':am ,'영어':ae , '국어':ak}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균점수': {'수학': 73.66666666666667,
  '영어': 56.666666666666664,
  '국어': 67.66666666666667}}

In [37]:
new_id=input("아이디를 입력하세요: ")

allowed=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p' ,'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0",  "-", "_", "."]

#1단계: new_id의 모든 대문자를 대응되는 소문자로 치환합니다.
new_id = new_id.lower()

#2단계: new_id에서 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.)를 제외한 모든 문자를 제거합니다.
for i in new_id:
    if i not in allowed:
        new_id = new_id.replace(i, "")
        
#3단계: new_id에서 마침표(.)가 2번 이상 연속된 부분을 하나의 마침표(.)로 치환합니다.
while ".." in new_id:
    new_id = new_id.replace("..", ".")


#4단계: new_id에서 마침표(.)가 처음이나 끝에 위치한다면 제거합니다.
new_id = new_id.lstrip(".")
new_id = new_id.rstrip(".")

#5단계: new_id가 빈 문자열이라면, new_id에 "a"를 대입합니다.
if new_id == "":
    new_id = "a"

#6단계: new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
# 만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.
for len(new_id)==15:
    if len(new_id)>=16:
        new_id=new_id.replace(new_id[16],"")

#7단계: new_id의 길이가 2자 이하라면, new_id의 마지막 문자를 new_id의 길이가 3이 될 때까지 반복해서 끝에 붙입니다.

         
        
print(new_id)

SyntaxError: invalid syntax (1380015261.py, line 29)

- 3단계: while True 이용하기
 
   while True:

        new_id = new_id.replace("..", ".")
      
        if ".." not in new_id:
       
             break

In [ ]:
if len(new_id) <= 2:
    for len(new_id) == 3:
        new_id=new_id.insert(n, f"{n}")

In [ ]:
#6

if new_id = len(new_id):
    new_id.append("a"

In [ ]:
#4
if "." in new_id[0] or new_id[-1]:
    new_id.remove(".")

In [ ]:
#5
if new_id == []:
    new_id = new_id.replace(" ", "a")

In [ ]:
new_id.replace("","a")

In [32]:
new_id = new_id.lstrip(".")
new_id = new_id.rstrip(".")

In [ ]:
if len(new_id) >= 16:
    del new_id[15:]

In [11]:
new_id=input("아이디를 입력하세요: ")
len(new_id)
new_id[3]

아이디를 입력하세요: agef

'f'

In [13]:
n="안녕하세요"
n=n.replace(n[2],"")
n

'안녕세요'

In [17]:
#6단계: new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
# 만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.

new_id=input("아이디를 입력하세요: ")
for len(new_id)<=15:
    if len(new_id)>=16:
        new_id=new_id.replace(new_id[16],"")
    else:
        pass
print(new_id)

SyntaxError: invalid syntax (2394510646.py, line 2)