### 9.7
- 파이썬 복습

In [1]:
num = 10
print(num)

10

In [2]:
num = 20
print(num)

20

In [5]:
type(num)

int

In [8]:
num =10+10
print(num)
num+=5
print(num)

20
25

In [13]:
n = n+1
if n%100==0:
    print("지금 n번째 돌아가는 중")

In [5]:
#인덱싱
"오늘 점심 뭐먹지?"[3:5]

'점심'

In [4]:
"오늘 점심 뭐먹지?"[-7:-5]

'점심'

In [16]:
"오늘 점심 뭐먹지?"[0:-1]
#오늘 점심 뭐먹지
"오늘 점심 뭐먹지?"[-5:-1]
#뭐먹지
"오늘 점심 뭐먹지?"[:1]
#오
"오늘 점심 뭐먹지?"[:]
#오늘 점심 뭐먹지?
"오늘 점심 뭐먹지?"[1:]

'늘 점심 뭐먹지?'

In [24]:
#포멧팅 1. %사용(문자열 할당시 s 사용, 숫자 할당시 d 사용) 2.
lunch_menu1="곱창볶음" 
lunch_menu2="꽈배기" 
lunch_menu3="짬뽕"
num=2

print("오늘의 메뉴는 %s입니다."%lunch_menu1)
print("오늘의 숫자는 %d입니다."%num)
print("즉 오늘의 메뉴는 %s와 %s입니다." %(lunch_menu2, lunch_menu3))

print("오늘의 메뉴는 {}입니다.".format(lunch_menu1))
print("오늘의 메뉴는 {}와 {}입니다.".format(lunch_menu1, lunch_menu3))
#위치 바꾸고 싶을 때 해당 인덱스 번호 사용해서 바꿔주기
print("오늘의 메뉴는 {0}와 {1}입니다.".format(lunch_menu1, lunch_menu3))
print("오늘의 메뉴는 {1}와 {0}입니다.".format(lunch_menu1, lunch_menu3))

print(f"오늘의 메뉴는{lunch_menu1}와 {lunch_menu2}입니다.")

오늘의 메뉴는 곱창볶음입니다.
오늘의 숫자는 2입니다.
즉 오늘의 메뉴는 꽈배기와 짬뽕입니다.
오늘의 메뉴는 곱창볶음입니다.
오늘의 메뉴는 곱창볶음와 짬뽕입니다.
오늘의 메뉴는 곱창볶음와 짬뽕입니다.
오늘의 메뉴는 짬뽕와 곱창볶음입니다.
오늘의 메뉴는곱창볶음와 꽈배기입니다.

In [25]:
lyrics= "sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져"
lyrics.count("sorry")

4

In [29]:
lyrics.upper()

'SORRY SORRY SORRY SORRY 내가 내가 내가 먼저 네게 네게 네게 빠져'

In [28]:
lyrics.lower()

'sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져'

In [26]:
lyrics.find("not sorry")
#-1: 없다는 의미

-1

In [30]:
lyrics=lyrics.replace("내가", "너가")
lyrics=lyrics.replace("네게", "내게")
lyrics

'sorry sorry sorry sorry 너가 너가 너가 먼저 내게 내게 내게 빠져'

In [31]:
lyrics.split()

['sorry',
 'sorry',
 'sorry',
 'sorry',
 '너가',
 '너가',
 '너가',
 '먼저',
 '내게',
 '내게',
 '내게',
 '빠져']

In [34]:
lyrics.split("가")

['sorry sorry sorry sorry 너', ' 너', ' 너', ' 먼저 내게 내게 내게 빠져']

In [45]:
#type(1+1==2) ->bool
1 + 3  <= 2

False

In [46]:
a = 1+1 ==2
type(a)

bool

In [47]:
# a라는 명제가 참이기 때문에 값이 1이 된다.
int(a)

1

In [48]:
#명제끼리의 계산이 된다
a+a

2

In [51]:
b = 1+1>3
int(b)

0

In [56]:
print(a+b)
print(b-a)
print(a*b)
print(b/a)

1
-1
0
0.0

In [57]:
1 + 1 == 2 and 1 + 2 == 2
#둘 중하나가 거짓이기 때문에

False

In [58]:
#둘 중 하나가 참이기 때문에 
1 + 1 == 2 or 1 + 2 == 2

True

### 조건문
- if 명제:
        명제가 참일 경우에 실행되는 코드
  else 명제:
        명제가 거짓일 경우에 실행되는 코드
        
- 들여쓰기 -> 종속절이라는 뜻

In [59]:
a=['짜','장']
a

['짜', '장']

In [60]:
a[1]='왕'
a

['짜', '왕']

In [71]:
#replace는 리스트에서 사용 못함
m="짜장"
m = m.replace("장", "왕")
m

'짜왕'

In [72]:
n=["짜","왕"]
n.sort(reverse=True)
n

['짜', '왕']

In [74]:
v=["왕", "짜"]
v.sort(reverse=True)
v

['짜', '왕']

### 반복문 예제
- for / while
 - 10,000보다 큰 57과 83의 공배수 중 가장 작은 수를 출력해주세요
 - 공배수: 57과 83을 모두 약수로 가지는 수

In [126]:
n=10000
while True:
    if(n % 57 == 0 and n % 83 == 0):
        print(n)
        break
    n=n+1

14193

In [125]:
m=10000
while m % 57 != 0 or m % 83 != 0:
    m=m+1
print(m)

14193

### 딕셔너리 예제
- cbs = {이름 : ["홍길동" , "임꺽정", "장길산], "나이" : [20, 35, 52], "키" : [160, 200, 180], "발사이즈" : [60, 290, 270]}
 - for문을 활용해서 홍길동, 임꺽정, 장길산의 나이 평균, 키평균, 발사이즈 평균을 구해주세요

In [201]:
csb = {"이름" : ["홍길동" , "임꺽정", "장길산"], "나이" : [20, 35, 52], "키" : [160, 200, 180], "발사이즈" : [60, 290, 270] }
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발사이즈': [60, 290, 270]}

In [187]:
print(csb["이름"])

['홍길동', '임꺽정', '장길산']

In [188]:
for i in csb["나이"]:
    print(i)

20
35
52

In [191]:
list(csb.keys())

['이름', '나이', '키', '발사이즈', '평균들']

In [189]:
for i in csb:
    print(csb[i])

['홍길동', '임꺽정', '장길산']
[20, 35, 52]
[160, 200, 180]
[60, 290, 270]

In [202]:
averages = []
for i in csb:
    try:
        n=0
        for w in cbs[i]:
            n=n+w
        averages.append(n/len(csb[i]))
    except:
        pass
csb["평균들"]=averages
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발사이즈': [60, 290, 270],
 '평균들': [35.666666666666664, 180.0, 206.66666666666666]}

In [200]:
#다른 방식으로 평균 구하기
averages =[]
for i in list(csb.keys())[1:]: # ['이름', '나이', '키', '발사이즈', '평균들']
    n=0
    for k in csb[i]:
        n = n + k
    averages.append(n/len(csb[i]))
csb["평균들"]=averages
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발사이즈': [60, 290, 270],
 '평균들': [35.666666666666664, 180.0, 206.66666666666666]}

In [194]:
n=0
for i in [20, 35, 52]:
    n = n + i
print(n/len([20,35,52]))

35.666666666666664