In [23]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import numpy as np
import pandas as pd

In [24]:
iris = load_iris()

In [25]:
X = iris.data
y = iris.target

In [26]:
#데이터프레임 형태로 변환
df = pd.DataFrame(X, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [27]:
df.columns=['sepal length', 'sepal width', 'peta length', 'petal width']
df.head()

   sepal length  sepal width  peta length  petal width
0           5.1          3.5          1.4          0.2
1           4.9          3.0          1.4          0.2
2           4.7          3.2          1.3          0.2
3           4.6          3.1          1.5          0.2
4           5.0          3.6          1.4          0.2

In [28]:
#X_train, X_test, y_train, y_test = train_test_split(iris.iloc[:, :-1], iris.iloc[:, -1], test_size=0.33, random_stat=42)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, # 독립변수 
                                                    y, # 종속변수 
                                                    test_size = 0.33, 
                                                    random_state = 42)

In [30]:
# 객체 생성
dt_clf = DecisionTreeClassifier(random_state=11)

# 학습 수행
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [31]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [32]:
pred = dt_clf.predict(X_test)
print('The accuracy of the Decision Tree is: {:.3f}'.format(accuracy_score(pred,y_test)))

The accuracy of the Decision Tree is: 0.967

In [33]:
kfold = KFold(n_splits=5)
cv_accuracy=[]
print('붓꽃 데이터 세트 크기:', y.shape[0])

붓꽃 데이터 세트 크기: 150

In [35]:
scores = cross_val_score(knn, X, y, scoring='accuracy', cv=5)
print('교차 검증별 정확도:', np.round(scores,2))

교차 검증별 정확도: [0.97 1.   0.93 0.97 1.  ]