In [31]:
import numpy as np
import pandas as pd
import random

In [32]:
score = pd.read_csv('score.csv', index_col = '과목', encoding = 'euc-kr')
score

     1반  2반  3반  4반
과목
파이썬  45  44  73  39
DB   76  92  45  69
자바   47  92  45  69
크롤링  92  81  85  40
Web  11  79  47  26

In [33]:
#학급별 총계
#score.sum(axis = 0)
score.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [34]:
#학급별 점수 순위
score.sum().sort_values(ascending = False)

2반    388
3반    295
1반    271
4반    243
dtype: int64

In [35]:
#열(왼쪽에서 오른쪽으로)
score.sum(axis = 1)

과목
파이썬    201
DB     282
자바     253
크롤링    298
Web    163
dtype: int64

In [36]:
score['합계'] = score.sum(axis = 1)
score

     1반  2반  3반  4반   합계
과목
파이썬  45  44  73  39  201
DB   76  92  45  69  282
자바   47  92  45  69  253
크롤링  92  81  85  40  298
Web  11  79  47  26  163

In [37]:
score['평균'] = score.loc[:,:'4반'].mean(axis = 1)
score

     1반  2반  3반  4반   합계     평균
과목
파이썬  45  44  73  39  201  50.25
DB   76  92  45  69  282  70.50
자바   47  92  45  69  253  63.25
크롤링  92  81  85  40  298  74.50
Web  11  79  47  26  163  40.75

In [38]:
score.max()

1반     92.0
2반     92.0
3반     85.0
4반     69.0
합계    298.0
평균     74.5
dtype: float64

In [39]:
score.min()

1반     11.00
2반     44.00
3반     45.00
4반     26.00
합계    163.00
평균     40.75
dtype: float64

In [40]:
score.max(axis = 1)

과목
파이썬    201.0
DB     282.0
자바     253.0
크롤링    298.0
Web    163.0
dtype: float64

In [41]:
score.min(axis=1)

과목
파이썬    39.0
DB     45.0
자바     45.0
크롤링    40.0
Web    11.0
dtype: float64

In [42]:
#전체반에서 과목별로 제일 높은 점수 출력
#score[score<=100].max(axis=1)
maxArr = score.loc[:'Web', : '4반'].max(axis=1)

In [43]:
#전체반에서 과목별로 제일 낮은 점수 출력
minArr = score.loc[:'Web', : '4반'].min(axis=1)

In [44]:
#과목별 가장 큰 값과 작은 값의 차이 출력
maxArr - minArr

과목
파이썬    34
DB     47
자바     47
크롤링    52
Web    68
dtype: int64

In [45]:
#지우고 싶은 열이 생겼을 때 사용
#del score["열 이름"] 이용
score.drop(['합계'], axis=1)

     1반  2반  3반  4반     평균
과목
파이썬  45  44  73  39  50.25
DB   76  92  45  69  70.50
자바   47  92  45  69  63.25
크롤링  92  81  85  40  74.50
Web  11  79  47  26  40.75

In [46]:
#지우고 싶은 행이 생겼을 때 사용
score.drop(['파이썬'], axis=0)

     1반  2반  3반  4반   합계     평균
과목
DB   76  92  45  69  282  70.50
자바   47  92  45  69  253  63.25
크롤링  92  81  85  40  298  74.50
Web  11  79  47  26  163  40.75